#video-button {
	margin-top: 20vh;
}

#video {
	width: 100vh;	
	box-shadow: 0px 0px 100px 0 black;
    animation: growIn 0.4s;
	margin-top: 5px;
}

.kep {
    width: 50px;
}

/*------------------------------------*/

@media screen and (max-width: 1024px) {
	#video {
		width: 70vh;
	}
}

@media screen and (max-width: 768px) {
	#video { 
		width: 40vh;	
		box-shadow: 0px 0px 100px 0 black;
	}
}