.sponsor {
	margin:20px;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	width:300px;
	text-align:center;

	/*background: #252530;*/
	background: linear-gradient(0deg, #252530 0%, #303042 100%);
	border-radius: 6px;
	box-shadow: 0px 0px 20px rgb(0,0,0,20%);
}

.nev {
	font-size:25px;
	color: #ff6000;
	font-weight:bold;
}

.kep {
    width: 300px;
}

hr {
	background:red;
	margin-top:10px;
	margin-bottom:15px;
}

.grid {
    display: grid;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

/*------------------------------------*/

@media screen and (max-width: 1500px) {
    .grid {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
}

@media screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        width: 100%;
    }
}