main {
    justify-content:center;
    display:flex;
}

#container {
    margin: 12px;
    padding: 12px;
    max-height: 70vh; /*i think this is the best you can do*/
    overflow-y: auto;
    max-width: 1200px;
}


h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bekezdes {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}

strong {
    font-size: inherit;
}

@media screen and (max-width: 768px) {
}
